venv/
__pycache__/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# User uploaded files
uploads/*
!uploads/.gitkeep

# TensorFlow logs
events.out.tfevents.*

# Environment variables
.env

# Backup files
*.bak

# Keep empty directories
**/*/
!**/*/.gitkeep
